body {
    background-color: black;
    font-family: "Courier New", Courier, Monaco;
    text-align: center;
    vertical-align: middle;
    margin: 0;
	padding-top: 2em;
    padding-bottom: 1em;
}
h1 {
    color: #00cc00;
}
h3, h4 {
    color: white;
}
.cent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*.box {
  position:relative;
  width: 60%;
  height: 60%;
}*/

img, video{
  position: relative;
  object-fit:cover;  
  overflow:hidden;
  width:100%;
  height:100%;
    padding-bottom: 1em;
} 


#date {
    width: 25%;
    float:left;
    text-align: right;
    display: inline-block;
}
#image {
    width: 60%;
  margin-left: auto;
  margin-right: auto;
    display: inline-block;
}